@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --nav-blue: #0a0a23;
  --main-white: #f0f0f0;
  --main-blue: #1b1b32;
  --main-red: #be3144;
  --footer-blue: #2a2a40;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Base styles */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2;
  color: var(--main-white);
  background-color: var(--main-blue);
  user-select: none;
  height: 100vh;
}

h1,
h2 {
  font-weight: bolder;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

ul,
ol {
  margin-left: 2em;
}

input,
select {
  width: 35rem;
  padding: 1em;
  margin-top: 0.7em;
  margin-bottom: 1em;
  border: 5px solid var(--footer-blue);
  border-radius: 10px;
  outline: none;
  color: var(--main-white);
  background-color: var(--nav-blue);
}

select {
  width: 38.5rem;
  appearance: none;
}

input:focus,
select:focus {
  border: 5px solid var(--nav-blue);
  background-color: var(--footer-blue);
}

.buttons-center {
  text-align: center;
}


/* nav bar */
.topnav {
  overflow: hidden;
  background-color: var(--nav-blue);
  color: var(--main-white);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 1.5rem;
  height: 100%;
  transition: transform 0.3s ease-out;
}

.topnav a:hover {
  color: wheat;
  transform: translateY(-3px);
}

.topnav a:active {
  color: wheat;
  transform: translateY(5px);
}

@media (max-width: 28.75em) {
  .topnav {
    justify-content: center;
  }
}

/* Welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--nav-blue);
  background: linear-gradient(rgba(10, 10, 35, 0.75), rgba(10, 10, 35, 0.75)),
    url("https://images.unsplash.com/photo-1562813733-b31f71025d54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y29kaW5nfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
}

.typed-out {
  font-size: 5rem;
  overflow: hidden;
  border-right: .01em solid white;
  width: 0;
  white-space: nowrap;
  animation:
    typing 1s steps(20, end) forwards,
    blink .8s infinite;
}

.greeting-container {
  display: inline-block;
  height: 6em;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink {
  from {
    border-color: transparent
  }

  to {
    border-color: white;
  }
}

.wave {
  width: 100px;
  height: 100px;
}

.web-dev {
  font-size: 2rem;
  font-weight: 200;
  font-style: italic;
  color: var(--main-red);
}

.scroll {
  position: absolute;
  bottom: 0;
  color: var(--main-red);
  cursor: pointer;
  text-align: center;
}

/* Details Section */

.details-section {
  background: var(--main-blue);
  margin-right: 15vw;
  margin-left: 15vw;
  padding-bottom: 3em;
}

.details-header {
  text-align: center;
  max-width: 640px;
  margin: 6rem auto 6rem auto;
  border-bottom: .1rem solid var(--main-white);
}

.my-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about {
  font-size: 3rem;
  text-align: left;
}

.my-photo {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: .01rem solid var(--main-blue);
  box-shadow: 0 0 30px var(--footer-blue);
  margin-left: 5em;
}

.hobbies,
.skills,
.priorities {
  margin-top: 2em;
}

.hobbies-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.details-section>h2,
.contact-section-header>h2 {
  font-size: 4rem;
}

/* Footer */
footer {
  text-align: center;
  background-color: var(--footer-blue);
  padding: 1em;
  bottom: 0;
}

footer>p {
  margin-top: 1em;
}

.footer-header>p {
  font-style: italic;
}

footer>hr {
  border: .005rem solid var(--main-blue);
}

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-right: 30%;
  margin-left: 30%;
}

.contact-details {
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(-5px);
}

.contact-btn {
  display: inline-block;
  padding: 1em 2em;
  border: 5px inset var(--main-white);
  border-radius: .5em;
  background-color: var(--nav-blue);
  color: var(--main-white);
  font-size: 3rem;
  font-weight: bold;
  margin: 1em;
  box-shadow: 10px 15px 10px var(--nav-blue);
  transition: transform 0.3s ease-out;
}

.contact-btn:hover {
  transform: translateY(-5px);
  background-color: var(--nav-blue);
}

.contact-btn:active {
  transform: translateY(8px);
  background-color: var(--nav-blue);
}

/* Contact Me page */
.contact-page-container {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
  margin-top: 3em;
}

.contact-header {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 3rem;
}

.contact-input {
  width: 40rem;
}

.message {
  border-radius: 10px;
  padding: 1em;
  margin-top: 0.7em;
  margin-bottom: 1em;
  width: 40rem;
  outline: none;
  border: 5px solid var(--footer-blue);
  color: var(--main-white);
  background-color: var(--nav-blue);
}

.message:focus {
  border: 5px solid var(--nav-blue);
  background-color: var(--footer-blue);
}

.submit-btn,
.login-btn,
.login-google,
.login-github {
  width: 39rem;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  outline: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  border: 3px solid var(--main-blue);
  background-color: var(--footer-blue);
  color: var(--main-white);
  box-shadow: 5px 10px 18px var(--nav-blue);
  transition: transform 0.3s ease-out;
  text-align: center;
}

.submit-btn {
  width: 44rem;
}

.submit-btn:hover,
.login-btn:hover,
.login-google:hover,
.login-github:hover {
  transform: translateY(-3px);
  background-color: var(--main-blue);
}

.submit-btn:active,
.login-btn:active,
.login-google:active,
.login-github:active {
  transform: translateY(8px);
  background-color: var(--main-blue);
}

/* Login Page */
.login-page-container,
.register-page-container {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
  margin-top: 3em;
}

.login-header {
  text-align: center;
}

.login-header>h1 {
  font-size: 4rem;
}

.sign-in-icon {
  margin-right: 1rem;
}

.img-container {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
}

.forgot-password {
  font-size: 1.5rem;
  color: #be3144;
}

.fa-google {
  margin-right: 1rem;
}

.divider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.divider {
  display: inline-block;
  border-bottom: white 1px solid;
  width: 50%;
}

.or {
  margin-left: 1em;
  margin-right: 1em;
}

.login-github {
  background-color: #57606a;
}

.need-account {
  color: var(--main-red);
}